@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: Poppins;
  align-items: center;
}

.guesses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .one, .two, .three, .four, .five, .six{
    display: flex;
    justify-content: space-between;
  }
  .UG1, .UG2, .UG3, .UG4, .UG5, .UG6 {

    padding: 10px;
  }

}

.guesses .color{
    background-color: green;
}

.keyboard{
  display: flex;
  justify-content: center;
}