@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: Poppins;
  align-items: center;
}

.guesses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guesses .one, .guesses .two, .guesses .three, .guesses .four, .guesses .five, .guesses .six {
  display: flex;
  justify-content: space-between;
}
.guesses .UG1, .guesses .UG2, .guesses .UG3, .guesses .UG4, .guesses .UG5, .guesses .UG6 {
  padding: 10px;
}

.guesses .color {
  background-color: green;
}

.keyboard {
  display: flex;
  justify-content: center;
}